.header{
  height:101px;
  border-top:2px solid #161f32;
}

.inner-box{
  width:1170px;
  margin:0 auto;
}

.inner-box:after{
  content:"";
  display:block;
  clear:both;
}

.logo{
  float:left;
  margin-top:32px;
}

.logo-link{
  display:block;
  width:122px;
  height:30px;
  background:url(../images/logo_artica.gif) no-repeat;
  text-indent:-99999px;
}

.btn-menu-toggle{
  float:right;
  width:26px;
  height:23px;
  background:url(../images/btn_show_menu.gif) no-repeat;
  text-indent:-99999px;
  border:0;
  margin-top:39px;
  cursor: pointer;
}

.gnb{
  width:302px;
  height:100%;
  padding-left:38px;

  position:fixed;
  top:0;
  right:-340px;
  background:#161f32;
  z-index:99999;
  transition:right .5s ease-out;
}

.gnb-heading{
  font-family: 'Molle', cursive;
  font-size:37px;
  color:#fff;
  margin-left:4px;
  margin-top:59px;
}

.gnb-list{
  margin-top:50px;
}

.gnb-item{
  margin-bottom:19px;
}

.gnb-link{
  font-weight:300;
  font-size:20px;
  color:#fff;
}

.btn-menu-close{
  width:12px;
  height:12px;
  background:url(../images/btn_close_menu.png) no-repeat;
  border:0;
  text-indent:-99999px;

  position:absolute;
  top:59px;
  right:53px;

  /* mouse cursor 모양 바꾸기 */
  cursor: pointer;
}

